{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Concept 1 (common cold){% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="about">
      Subject: Tommy       CS: 100%<br>
      Indication: cold     CS: 72%<br>
      Time: July 2019      CS: 95%<br>
      Negation: no         CS: 55%<br>
      <p>

</p>
    </div>
    <label for="correct">Is this concept correct? Yes/No</label>
    <input name="correct" id="correct" value="{{ request.form['correct'] }}" required>
    <input type="submit" value="Save Feedback">
  </form>
{% endblock %}
