{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{concept}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div><a class="action" href="{{ url_for('note.sentence', i_txt_file=i_txt_file, filename=filename, conc=concept_chosen) }}">Go back</a></div><br>

        <table style="width:80%">
          <tr>
            <td>Range Text: {{range_txt}} &#9; </td>
            <td>BLEU-score: {{blue}}</td>
          </tr>
          <tr>
            <td>Concept: {{concept}} &#9; </td>
            <td>Levenstein Similarity: {{levenstein}}</td>
          </tr>
          <tr>
            <td>Location: {{location}} &#9; </td>
            <td>Jaccard Similarity: {{jaccard}}</td>
          </tr>
          <tr>
            <td>Negation: {{negated}} &#9; </td>
            <td>Cosine Similarity: {{cosine}}</td>
          </tr>
          <tr>
            <td>History of: {{hof}} &#9; </td>
            <td>ELMo: {{flair}}</td>
          </tr>
          <tr>
            <td><a class="action" href="{{url}}" target="_blank">ULMS concept website</a> &#9; </td>
            <td><b>Confidence Score: {{confidence}}</b></td>
          </tr>
        </table>


      <p>

</p>

 <form method="post">
    <label for="correct">Is the concept correct?</label>
     <div class="radio">
      <label><input type="radio" name="correct" id="correct" value="True"> &#9;Yes </input></label><br>
      <label><input type="radio" name="correct" id="correct" value="False"> &#9;No </input></label><br>
      <b>Is the location correct?</b><br>
      <label><input type="radio" name="location" id="location" value="True"> &#9;Yes </input></label><br>
      <label><input type="radio" name="location" id="location" value="False"> &#9;No </input></label><br>
      <label><input type="radio" name="location" id="location" value="None"> &#9;n/a </input></label><br>
       <b>Is the history of correct?</b><br>
      <label><input type="radio" name="hof" id="hof" value="True"> &#9;Yes </input></label><br>
      <label><input type="radio" name="hof" id="hof" value="False"> &#9;No </input></label><br>
      <label><input type="radio" name="hof" id="hof" value="None"> &#9;n/a </input></label><br>
      <b>Is the negation correct?</b><br>
      <label><input type="radio" name="negation" id="negation" value="True"> &#9;Yes </input></label><br>
      <label><input type="radio" name="negation" id="negation" value="False"> &#9;No </input></label><br>
      <label><input type="radio" name="negation" id="negation" value="None"> &#9;n/a </input></label><br>
     {% if has_deps == 1 %}
         <b>We identified some potential modifiers in the sentence, do any of these indicate modification of the concept?</b><br>
         {% for dep in dependencies %}
         Word: {{dep[0]}}   -   Word type: {{dep[1]}}<br>
      <label><input type="radio" name="{{dep[0]}}" id="{{dep[0]}}" value="negation"> &#9;Negation </input></label><br>
      <label><input type="radio" name="{{dep[0]}}" id="{{dep[0]}}" value="hof"> &#9;History of </input></label><br>
      <label><input type="radio" name="{{dep[0]}}" id="{{dep[0]}}" value="none"> &#9;None of those </input></label><br>
         {% endfor%}
    {% endif %}
    <input type="submit" value="Save Feedback">
    </dib>
  </form>
{% endblock %}
